<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>

<body>
    <h3>LogIn</h3>
    <form action="/user/login" method="POST">

        <label>Enter Email</label>
        <input type="text" name="email" required />

        <label>Enter Password</label>
        <input type="password" name="password" required />

        <button type="submit">LogIn</button>
    </form>

</body>

</html>